body {
    background-color: #000000;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #28d645;
     /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("../../media/examples/lizard.png"); */
}
article{
    background-color: rgb(229, 90, 36);
    padding: 40px;
    margin: 40px;
}