body{
    background-color: red
}
/* @media (width <= 400px){
    body{
        background-color: aqua;
    }
}
@media (width >= 200px){
    body{
        background-color: gold;
    }
} */
/* @media (width >= 400px) and (width <=600px){
    body{
        background-color: aqua;
    }
} */

/* or  */

@media ( 400px <= width <=600px){
    body{
        background-color: aqua;
    }
}

/* @media (width >= 600px){
    body{
        background-color: gold;
    }
} */