@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


* {
    /* background-color: #AEF3E7; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Lato", sans-serif;
}

.outer-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, red, blue);
}

.inner-box {
    /* text-align: center; */
    width: 400px;
    /* height: 300px; */
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px 50px;
    /* border:  10px dashed #e723a9; */
    border-radius: 8px;
    /* background-color: #ffffffaa; */
    background :linear-gradient(to top left, #ffffff,#ffffff33) ;
    backdrop-filter: blur(8px);
    box-shadow: 30px 30px 100px;
    z-index: 2;
    border: 2px solid #110505;
}

input {
    clear: right;
}

.signup-header h1 {
    font-size: 2.5rem;
    color: #212121;
}

.signup-header p {
    font-size: 0.9rem;
    color: #e91414;
}

.signup-body {
    margin: 20px 0px;
}

.signup-body p {
    margin: 10px 0px;
}

.signup-body p label {
    display: block;
    font-weight: bold;
}

.signup-body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(56, 187, 223);
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 4px;
}

.signup-body p input[type="submit"] {
    background-color: rgb(20, 126, 255);
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.signup-body p input[type="submit"]:hover {
    background-color: #1900ff;
}

.signup-footer {
    color: #220d21;
    text-align: center;
}

.signup-footer a {
    color: #1900ff;
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    background: linear-gradient(to top right, #1900ff, #e91414);
    position: absolute;
    overflow: hidden;
    box-shadow:30px 30px 100px ;
    cursor: pointer;
}
.c1{
    top: 100px;
    left: 50px;
}

.c2{
    bottom: 100px;
    right: 50px;
}
.circle img {
    width: 100%; /* Make the image fill the circle */
    height: 100%; /* Make the image fill the circle */
    object-fit: cover; /* Maintain aspect ratio and cover the circle */
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}
.c1 :hover{
    transform: scale(1.2); /* Zoom in by 20% on hover */
    box-shadow:30px 30px 100px #e91414;
}
.c2 :hover{
    transform: scale(1.2); /* Zoom in by 20% on hover */
    box-shadow:30px 30px 100px #e91414;
}