*{margin: 0;
  padding:0;
  box-sizing: border-box;}
  .navbar {
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: fixed;
    }
    
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px;
        max-width: 1200px;
        margin: 0 auto;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .logo img {
        height: 50px;
        border-radius: 10px;
    }
    .logoname h1{margin-left:10px;}
    
    .search-bar {
        display: flex;
        align-items: center;
        width: 50%;
        margin: 0 30px;
    }
    
    .search-bar input[type="text"] {
        width: 100%;
        padding:8px 15px;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
        outline: none;
    }
    
    .search-bar button {
        padding: 8px 16px;
        border: none;
        background-color: #ffa3a3;
        color: #000000;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
    }
    
    .search-bar button:hover {
        background-color: #ffd6d6;
    }
    
    .menu {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .menu li {
        margin-left:10px;
    }
    
    .menu li a {
        text-decoration: none;
        color: #333;
        padding: 8px 16px;
        transition: color 0.3s;
        font-size: larger;
    }
    
    .menu li a:hover {
        color: #ffa3a3;}
     p{color:black;}
     .container{max-width:1300px;
                margin: auto;
                padding-left:25px;
                padding-right:25px;}
      .row{display: flex;
            align-items: center;
             flex-wrap: wrap;
            justify-content: space-around;}      
      .col2{flex-basis:50% ;
             min-width:300px;}   
      .col2 img{max-width:100%;
                border-radius:30px;
                box-shadow:7px 7px 7px gray;}              
       .col1 h1{font-size: 50px;
                line-height: 60px;
                margin: 25px 0;}     
        .btn{ display:inline-block;
             background:#ffa3a3;
             border:none;
             padding:8px 20px;
             margin: 30px 0;
             border-radius: 10px;
             font-weight: bolder;}
        .btn a{color: #000;
               text-decoration: none;}     
             
             .header{background:#efe5e5;
                padding-bottom: 50px;
                 padding-top:120px;}            
        .header row{margin-top: 70px;}
        .btn:hover{background:#fbc6c6;}
        .categories{margin: 70px 0;}
        .col3{flex-basis: 30px;
              min-width:300px;
              margin-bottom:30px;
            text-align: center;
              transition:transform 0.5s ;}
        .col3 img{width:100%;}
        .col3 :hover{transform: translateY(-5px);}
        .small-container{max-width:1080px;
                          margin: auto;
                        padding-right:25px;
                         padding-left:25px;}  
         .small-container h2{text-align: center;
                              margin:70px 0;}                
        .companies{margin:70px 0 ;}      
        .about-us{text-align: center;
                  background-color: cadetblue;
                  margin:70px 0;
                  padding:70px 0 ;}           
       .about-us h4{font-size:150% ;}
       .about-us p{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
       .review{
                margin: 100px 0;
                padding: 70px 0;}
       .col6 img{border-radius: 200px;}  
       .col7 p{font-size: 30px;}      
       .col7 p2{font-family: Verdana, Geneva, Tahoma, sans-serif;}
       .btn2{ background-color:white;
               border-radius: 8px;
               padding:5px 10px ;
               border: none;
                margin: 20px 50px;
                font-weight: bolder;
                 font-size: 20px;}
        .btn2 a{color: #000;
                  text-decoration: none;}         
        .btn2:hover{background-color: aliceblue;
                    color: rgb(32, 31, 31);}         
        .col8 h1{font-size: 70px;
                  line-height: 60px;
                  margin:25px 0 ;}    
        .col9 img{border-radius: 10px;
                   max-width:100%;
                                }   
        .col9{flex-basis:40%;
               min-width:260px;}
        .contact-us{background-color: gold;
                     padding: 60px 0;
                     margin: 70px 0;}    
         /*footer*/
         .footer{background-color:none;
                  padding:60px 0 20px;
                font-size: 14px;}
        .footer p{color:#000;} 
        .footer h3{margin-bottom: 20px;}
        .footer-col1,.footer-col2,.footer-col3,.footer-col4{min-width: 250px;
                                                              margin-bottom: 20px;}      
         .footer-col1{flex-basis: 30%;}    
         .footer-col2{flex:1;
                       text-align: center;}  
         .footer-col2 img{width:180px;
                          margin-bottom: 20px;
                          border-radius:10px;}        
         .footer-col3,.footer-col4{flex-basis: 12%;
                                      text-align: center;}  
        .footer-col4 ul li{margin-bottom: 2px;}                         
         ul{list-style-type:none ;}   
         .app-logo{margin-top:20px;}  
         .app-logo img{width: 140px;}
         .copyright{text-align: center;}    
      